body{ background-image: url(image/graphiccardback.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 200vh;
    width: 100%;
    backdrop-filter: blur(30px);
    background-color: white;
    color: rgb(255, 255, 255);
}
h1{
    color: rgb(255, 255, 255);
}
h2{
    color: rgb(104, 255, 74);
    font-size: 30x;
}
.image{
    padding-left: 500px;
}
pre{
    font-size: 22px;
}
a{
    text-decoration-color: chartreuse;
}
.tab {
  overflow: hidden;
  border: 1px solid none;
  background-color: none;
  padding-left: 675px;  
}


.tab button {
  background-color: rgb(255, 68, 68);
  float: center;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}
.tab button:hover {
  background-color: #ddd;
}
.tab button.active {
  background-color: rgb(255, 56, 56);
}
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}
a{
    color: rgb(247, 89, 89);
}
nav{
  float: right;
  margin: 1px;
  max-width: 1200px;
  transition: 0.6s ease;
  display: block;
  color: aqua;
  padding-right: 50px;
}
ul{
  float: right;
  list-style-type: none;
  margin-top: 25px;
}
ul li{
  display: inline-block;
}
ul li a{
  text-decoration: none;
  color: white;
  padding: 5px 20px;
  border: 1px solid transparent;
}
ul li a:hover{
  background-color: greenyellow;
  color: #000;
  transition: 0.6s ease;  
}
ul li.active a{
  background-color: rgb(61, 250, 61);
  color: #000;
}